
body,*{
    background:#000000;
    color:#8cde08;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links{
    color:blue;
    background: #fff;
    font-weight: 400;
    text-decoration: none;
    padding-left:4px;
    padding-right:4px;
}

footer div{
display:inline-block;
height:80%;
width:100%;
text-align:center;
margin-bottom:10px;
}